<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #202020;
            color: #fff;
        }
        .navbar-inverse {
            background-color: #333; /* Цвет навигационной панели */
            border-color: #080808; /* Цвет рамки */
        }
    </style>
</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                Приложение для конфигурации CI/CD пайплайнов</a>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <div th:if="${param.email_invalid}">
                <div class="alert alert-danger">
                    Email is Already Registered!</div>
            </div>
            <h1>Регистрация</h1>

            <form th:action="@{/registration}" method="post"
                  th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName">
                        Имя </label>
                    <input id="firstName" class="form-control"
                           th:field="*{firstName}" required
                           autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName">
                        Фамилия </label> <input id="lastName"
                                                  class="form-control" th:field="*{lastName}"
                                                  required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Электронная почта
                    </label> <input id="email" class="form-control"
                                    th:field="*{email}" required autofocus="autofocus"
                />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Пароль </label> <input id="password"
                                                 class="form-control" type="password"
                                                 th:field="*{password}" required
                                                 autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться</button>

                </div>
                <span>Есть учетная запись? <a href="/"
                                              th:href="@{/login}">Войдите здесь</a></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>