<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>View Repository</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 70px;
        }
        h1 {
            margin-bottom: 30px;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }
        a:hover {
            color: #23527c;
        }
        .pipelines-card {
            background-color: #DCDCDC;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .pipeline-info {
            flex-grow: 1;
        }
        .pipeline-name {
            font-weight: bold;
            color: #333;
            font-size: 20px;
            margin-bottom: 5px;
        }
        .pipeline-buildSystem {
            color: #666;
            margin-bottom: 10px;
        }
        .pipeline-stages {
            color: #666;
            margin-bottom: 10px;
        }
        .pipeline-actions {
            margin-left: 10px;
        }
        textarea {
            resize: vertical; /* Разрешить растягивание только по вертикали */
            min-height: 210px; /* Установить минимальную высоту поля */
        }
        .pipeline-status {
            color: #008000;
            margin-bottom: 10px;
        }

        .pipeline-status.success {
            background-color: green;
        }

        .pipeline-status.failure {
            background-color: red;
        }

        .pipeline-status > .icon {
            color: white;
            font-size: 12px;
            position: relative;
            top: 2px;
        }
        }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Pipeline CI/CD configuration application</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/repositories}">Back to Repositories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!-- Здесь вы можете отобразить информацию о репозитории, например: -->
    <h1><span id="span1" th:text="${repository_name}"></span></h1>
    <form id="pipelineForm1">
        <!-- Остальные поля формы -->
    </form>
    <h2>Repository Pipelines</h2>
    <!-- Здесь отображается список пайплайнов -->
    <div th:each="pipeline : ${pipelines}" class="pipelines-card">
        <div class="pipeline-info">
            <div class="pipeline-name">
                <a th:text="${pipeline.name}"></a>
            </div>
            <div class="pipeline-build" th:text="${pipeline.buildSystem}"></div>
            <div th:each="stage : ${pipeline.stages}" class="pipelines-stages">
                <span th:text="${stage}"></span>
            </div>
            <!-- <div class="pipeline-status" id="pipelineStatus" th:attr="data-id=${pipeline.id}" th:text="${pipeline.status}" th:class="${pipeline.status}"> </div> -->
            <div class="pipeline-status" th:id="'pipelineStatus_' + ${pipeline.id}" th:attr="data-idp=${pipeline.id}" th:text="${pipeline.status}" th:class="${pipeline.status}"> </div>
        </div>
        <!-- Кнопки редактирования и удаления -->
        <div class="pipeline-actions">
            <button class="editPipelineButton btn btn-primary" th:attr="data-id=${pipeline.id}">Edit</button>
            <button class="deletePipelineButton btn btn-danger" th:attr="onclick='deletePipeline(\'' + ${pipeline.id} + '\')'">Delete</button>
        </div>
    </div>

    <!-- Здесь добавлена кнопка для создания нового пайплайна -->
    <button id="createPipelineButton" class="btn btn-success">Create Pipeline</button>
</div>



<!-- Модальное окно для создания пайплайна -->
<div id="createPipelineModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Содержимое модального окна -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Pipeline</h4>
            </div>
            <div class="modal-body">
                <!-- Форма для ввода данных пайплайна -->
                <form id="pipelineForm" data-repository-name="${repository_name}">
                    <div class="form-group">
                        <label for="pipelineName">Pipeline Name:</label>
                        <input type="text" class="form-control" id="pipelineName">
                    </div>
                    <div class="form-group">
                        <label for="trigger">Trigger:</label>
                        <input type="text" class="form-control" id="trigger">
                    </div>
                    <div class="form-group">
                        <label>Stages:</label><br>
                        <label><input type="checkbox" name="stages" value="build"> Build</label><br>
                        <label><input type="checkbox" name="stages" value="test"> Test</label><br>
                        <label><input type="checkbox" name="stages" value="deploy"> Deploy</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="savePipeline()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Модальное окно для редактирования пайплайна -->
<div id="editPipelineModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Содержимое модального окна -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit pipeline</h4>
            </div>
            <div class="modal-body">
                <!-- Форма для ввода данных пайплайна -->
                <form id="pipelineFormEdit" data-repository-name="${repository_name}">
                    <div class="form-group">
                        <label for="pipelineName">Pipeline Name:</label>
                        <input type="text" class="form-control" id="pipelineNameEdit">
                    </div>
                    <div class="form-group"> <!-- текстовое поле для редактирования текста пайплайна -->
                        <label for="pipelineTextEdit">text of pipeline:</label>
                        <textarea class="form-control" id="pipelineTextEdit" rows></textarea>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="trigger">Trigger:</label>
                        <input type="text" class="form-control" id="triggerEdit">
                    </div>
                    <div class="form-group">
                        <label>Stages:</label><br>
                        <label><input type="checkbox" name="stagesEdit" value="build"> Build</label><br>
                        <label><input type="checkbox" name="stagesEdit" value="test"> Test</label><br>
                        <label><input type="checkbox" name="stagesEdit" value="deploy"> Deploy</label>
                    </div>
                    -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editPipeline()">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- -->

<!-- Подключение jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Подключение Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- JavaScript код для открытия модального окна и обработки создания пайплайна -->
<script>


    // Функция для открытия модального окна при нажатии на кнопку "Создать пайплайн"
    document.getElementById('createPipelineButton').addEventListener('click', function() {
        $('#createPipelineModal').modal('show');
    });

    var pipelineId = 0;
    $(document).on('click', '.editPipelineButton', function() {
        pipelineId = $(this).data('id');

        //var pipelineId = article.dataset.id;
        var pipeline;
        console.log('pipelineId: ' + pipelineId);

        console.log('getting information about pipeline');
        $.ajax({
            url: '/api/v1/user', // URL для отправки запроса на сервер
            type: 'GET',
            data: {
                pipelineId: pipelineId
            },
            success: function(response) {
                // Обработка успешного ответа от сервера
                console.log('Pipeline info:', response);
                pipeline = response;
                console.log(pipeline)
                console.log(pipeline.name);
                console.log(pipeline.stages[0]);
                $('#pipelineNameEdit').val(pipeline.name);


                $('#pipelineTextEdit').val(pipeline.text); // устанавливаем значение текстового поля
                $('input[name="stagesEdit"]').prop('checked', false); // сброс всех чекбоксов
                pipeline.stages.forEach(function(stage) {
                    $('input[name="stagesEdit"][value="' + stage + '"]').prop('checked', true);
                });



            },
            error: function(xhr, status, error) {
                // Обработка ошибок
                console.error('Error while getting pipeline info:', error);
            }
        });



        //var pipeline = getPipelineById(pipelineId); // Получаем информацию о пайплайне по его идентификатору (это ваша функция для получения пайплайна по ID)

        // Заполните модальное окно данными о пайплайне для редактирования

        // $('#triggerEdit').val(pipeline.trigger);
        // Добавьте другие поля, если необходимо

        // Открываем модальное окно редактирования пайплайна
        $('#editPipelineModal').modal('show');
    });

     /*
     function getPipelines() {
            var repositoryName = $('#span1').text();
            $.ajax({
                url: '/getPipelines', // Формируем URL с помощью repositoryName
                type: 'GET',
                data: {
                    repositoryName: repositoryName
                },
                success: function(response) {
                    // Обработка успешного ответа от сервера
                    console.log('Pipelines get successfully!');
                    console.log('response: ',response.name);
                },
                error: function(xhr, status, error) {
                    // Обработка ошибок
                    //console.log(status);
                    console.error('Error while getting pipelines:', error);
                }
            });
     }
     */



   // функция для обработки данных редактирования пайплайна
   function editPipeline() {
        console.log('editing pipeline');
        console.log(pipelineId);
        var repositoryName = $('#span1').text();
        var pipelineName = $('#pipelineNameEdit').val();
        // var trigger = $('#triggerEdit').val();
        var text_of_pipeline = $('#pipelineTextEdit').val();
        // var stages = $('input[name="stagesEdit"]:checked').map(function() {
        //     return this.value;
        // }).get();
        console.log(text_of_pipeline);
        // Отправляем AJAX-запрос на сервер

        $.ajax({
            url: '/editPipeline', // Формируем URL с помощью repositoryName
            type: 'POST',
            data: {
                pipelineId: pipelineId,
                repositoryName: repositoryName,
                pipelineName: pipelineName,
                text_of_pipeline: text_of_pipeline
                //trigger: trigger,
                //stages: stages
            },
            success: function(response) {
                // Обработка успешного ответа от сервера
                console.log('Pipeline edited successfully!');
                $('#editPipelineModal').modal('hide'); // Закрываем модальное окно
                location.reload();
            },
            error: function(xhr, status, error) {
                // Обработка ошибок
                console.log(status);
                console.error('Error while saving pipeline:', error);
            }
        });

   }


    // Функция для сохранения пайплайна
   function savePipeline() {
        console.log('saving');
        // Собираем данные из формы
        var pipelineName = $('#pipelineName').val();
        var trigger = $('#trigger').val();
        var stages = $('input[name="stages"]:checked').map(function() {
            return this.value;
        }).get();
        console.log(stages);
        // Получаем repositoryName из атрибута data-repository-name

        var el = document.getElementById('span1').value;
        var repositoryName = $('#span1').text();
        console.log(repositoryName);

        // Отправляем AJAX-запрос на сервер
        $.ajax({
            url: '/api/v1/user', // Формируем URL с помощью repositoryName
            type: 'POST',
            data: {
                repositoryName: repositoryName,
                pipelineName: pipelineName,
                trigger: trigger,
                stages: stages
            },
            success: function(response) {
                // Обработка успешного ответа от сервера
                console.log('Pipeline saved successfully!');
                $('#createPipelineModal').modal('hide'); // Закрываем модальное окно
                location.reload();

                // Установка статуса пайплайна
                //var pipelineStatusElement = $('#pipelineStatus_' + pipeline.id);
                //pipelineStatusElement.text(pipeline.status);
                //pipelineStatusElement.removeClass('failure success');
            },
            error: function(xhr, status, error) {
                // Обработка ошибок
                console.log(status);
                console.error('Error while saving pipeline:', error);
            }
        });
    }

    function deletePipeline(pipelineId) {
        console.log("function of deleting");
        var repositoryName = $('#span1').text();
        //var pipelineId = $('#deletePipelineButton').data('idPipeline');
        console.log('repName: ' + repositoryName);
        console.log('pipeID: ' + pipelineId);
        // Отправляем AJAX-запрос на сервер для удаления пайплайна
        $.ajax({
            url: '/pipelinesDelete',
            type: 'POST',
            data: {
                pipelineId: pipelineId,
                repositoryName: repositoryName
            },
            success: function(response) {
                // Обработка успешного ответа от сервера
                console.log('Pipeline deleted successfully!');
                // Обновляем страницу для отображения обновленного списка пайплайнов
                location.reload();
            },
            error: function(xhr, status, error) {
                // Обработка ошибок
                console.error('Error while deleting pipeline:', error);
            }
        });
    }



    function updateAllPipelineStatus() {
        //console.log('pipelineID:' + pipelineId);
        $('.pipelines-card').each(function() {
            //var element = document.querySelector('[data-idp]'); // +
            var pipelineId = $(this).find('[data-idp]').data('idp');
            //var pipelineId = element.dataset.idp; // +
            console.log(pipelineId);
            updatePipelineStatus(pipelineId);
        });
    }

    function updatePipelineStatus(pipelineId) {
        console.log('updatePipelineStatus');
        var repositoryName = $('#span1').text();
        var pipelineName = $('#pipelineName').val();
        $.ajax({
            url: '/getPipeline', // Укажите URL вашего эндпоинта для получения статуса пайплайна
            type: 'GET',
            data: {
                pipelineId: pipelineId,
                repositoryName: repositoryName,
            },
            success: function(response) {

                // Обновление статуса пайплайна на странице
                console.log('status: ' + response.status)
                $('#pipelineStatus_' + pipelineId).text(response.status);
                //$('#pipelineStatus').text(response.status);
            },
            error: function(xhr, status, error) {
                // Обработка ошибок
                console.error('Error while updating pipeline status:', error);
            }
        });
    }

    $(document).ready(function() {
        // Обновление статусов каждые 5 секунд (5000 миллисекунд)
        setInterval(updateAllPipelineStatus, 6000);
     });


</script>

</body>
</html>